@import url("https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap");  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  vertical-align: middle;
  border-style: none;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h1 {
  font-family: Lato;
}
